.menu_full_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_full_wrap .site_branding {
    display: table;
}

.menu_full_wrap .site_branding .logo {
    display: table-cell;
    vertical-align: middle;
}

.menu_full_wrap .site_branding .logo img{
    padding: 8px 0 8px;
    max-height: 75px;
}

.menu_full_wrap .main_navigation {
    padding: 0 15px;
}


.nav_list{
    display: block;
}


.nav_list ul li {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
}

.nav_list ul li a {
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #000;
    text-transform: capitalize;
    font-style: normal;
    transition: all .3s ease-out 0s;
    padding: 40px 16px;
}

.nav_list>ul>li>a:before {
    background: #000;
    position: absolute;
    z-index: 1;
    content: "";
    height: 2px;
    bottom: -10px;
    width: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.nav_list>ul>li>a:hover:before {
    width: 50%;
}

.nav_list ul li a:hover {
    color: #000;
}

.menu_right_wrap {
    display: flex;
    align-items: center;
}

.header_icon_area {
    height: 100%;
    position: relative;
    font-size: 20px;
    /* margin-left: 8px; */
}

.right_menu {
    display: flex;
}

.header_button_wrap .header_button .button_btn {
    border-color: #000;
    color: #000;

    font-weight: 500;
    font-size: 1.6rem;
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border-radius: 4px;
    min-width: 138px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
    border: .125rem solid;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.header_button_wrap .header_button .button_btn:hover {
    color: var(--primary-color);
    background-color: #000;
    border-color: #000;
}

.nav_toggler {
    margin-top: 2rem;
}

.mini_menu {
    position: relative;
}
.mini_menu span {
    width: 3rem;
    height: 2px;
    background-color: #000;
    display: inline-block;
}

.mini_menu span::before,
.mini_menu span::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
    width: 3rem;
    height: 2px;
    background-color: #000;
    display: inline-block;
}

.mini_menu span::before {
    top: -1.2rem;
    transition: all .3s ease 0s;
}

.mini_menu span::after {
    top: 0.8rem;
    transition: all .3s ease 0s;
}

.cross .mini_menu span {
    background-color: transparent !important;
}

.cross .mini_menu span::before {
    top: 0;
    transform: rotate(135deg);
}

.cross .mini_menu span::after {
    top: 0;
    transform: rotate(-135deg);
}


.sticky_nav_list ul li a,
.sticky_nav_list ul li a:hover{
    color: var(--primary-color);
}

.sticky_nav_list ul>li>a:before {
    background: var(--primary-color);
}


.sticky_nav_list .header_button_wrap .header_button .button_btn {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.sticky_nav_list .header_button_wrap .header_button .button_btn:hover {
    color: #000;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}


.sticky_nav_list .mini_menu span {
    background-color: var(--primary-color);
}

.sticky_nav_list .mini_menu span::before,
.sticky_nav_list .mini_menu span::after {
    background-color: var(--primary-color);
}


@media (max-width: 996px) {
    .header_icon_area {
        margin-right: 5rem;
    }
}

@media (max-width: 500px) {
    .header_icon_area {
        margin-right: 1rem;
    }
}