.site_header{
    left: 0;
    position: absolute;
    right: 0;
    z-index: 99;
}

.header_area {
    background: 0 0;
}

.header_fixed{
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    z-index: 1000;
    position: relative;
    transition: all .5s ease-out;
}

.menu_full_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site_header .site_branding {
    display: table;
}

.site_header .site_branding .logo {
    display: table-cell;
    vertical-align: middle;
}

.site_header .site_branding .logo img{
    padding: 8px 0 8px;
    max-height: 75px;
}

.site_header .main_navigation {
    padding: 0 15px;
}

.site_header .main_navigation nav{
    display: block;
}

.site_header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.site_header .main_navigation nav ul li {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
}

.site_header .main_navigation nav ul li a {
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
    text-transform: capitalize;
    font-style: normal;
    transition: all .3s ease-out 0s;
    padding: 40px 16px;
}

.site_header .main_navigation nav>ul>li>a:before {
    background: #fff;
    position: absolute;
    z-index: 1;
    content: "";
    height: 2px;
    bottom: -10px;
    width: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.site_header .main_navigation nav>ul>li>a:hover:before {
    width: 50%;
}

.site_header .main_navigation nav ul li a:hover {
    color: #fff;
}

.site_header .main_navigation ul li.mega_menu>ul.sub_menu {
    background-color: #fff !important;
    padding: 20px 0;
    width: 520px !important;
    max-width: 1210px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.site_header .main_navigation ul li.mega_menu>ul.sub_menu>li{
    display: block;
    float: left;
    margin: 0;
    width: 220px;
    border: none;
    background-color: inherit;
    padding: 0 5px;
}


.site_header .main_navigation ul li.mega_menu>ul.sub_menu>li ul {
    position: relative;
    width: inherit;
    left: inherit;
    border: none;
    box-shadow: none;
}

.site_header .main_navigation ul li.mega_menu ul.sub_menu li {
    background-color: inherit;
    padding: 0 5px;
}

.site_header .main_navigation ul li.mega_menu ul.sub_menu>li a{
    padding-left: 0;
    margin-left: 0;
}

.site_header .main_navigation ul li ul li{
    display: block;
    border-bottom: none;
    border-left: none;
    transition: all .3s ease-out 0s;
    margin-bottom: 10px;
}

.site_header .main_navigation ul li ul li {
    font-family: Roboto,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #4c4b4b;
    text-transform: inherit;
    font-style: normal;
    margin: 4px 25px;
    padding: 0;
}

.menu_right_wrap {
    display: flex;
    align-items: center;
}

.header_icon_area {
    height: 100%;
    position: relative;
    font-size: 20px;
    margin-left: 8px;
}

.header_button_wrap .header_button .button_btn {
    border-color: #fff;
    color: #fff;

    font-weight: 500;
    font-size: 1.6rem;
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border-radius: 4px;
    min-width: 138px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
    border: .125rem solid;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.header_button_wrap .header_button .button_btn:hover {
    color: #1d2124;
    background-color: #fff;
    border-color: #fff;
}

.navbar_toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: .25rem;
}

.navbar_toggler_icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
} 