.blogCardContent {
  /* width: 351px; */
  /* height: 60px; */
  /* left: 545px;
  top: 957px; */

  font-family: "Poppins";
  font-style: normal;
  /* font-weight: 600; */
  font-size: 18px !important;
  /* line-height: 117%; */
  /* or 28px */
  color: #212121;
}
