.blogCardContent {
  top: 957px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 17px;
  color: #212121;
}
.CardContent {
  height: auto;
}
.TypographyStyle {
  min-height: 3em;
}
.ButtonStyle {
  color: #6d6d6d;
}
