.serviceCardContainer {
  background-color: #fff;
  /* max-width: 600px; */
  padding: 20px;
  display: flex;
  gap: 10px;
  min-height: 300px;
  /* border: 2px solid red; */
}

@media screen and (max-width: 800px) {
  .serviceCardContainer {
    min-height: 0px;
  }
}

.serviceCardContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid yellow; */
}

.serviceCardTitle {
  color: black;
  /* border: 2px solid purple; */
  display: flex;
  align-items: center;
  font-family: poppins;
  font-weight: 550;
  /* height: fit-content; */
}

.serviceCardContent {
  color: #331b3ba8;
  font-family: poppins;
  font-size: 1rem;
}

.serviceCardButton {
  background-color: transparent;
  border: 1.14px solid #ff9700;
  color: #ff9700;
  border-radius: 4px;
  max-width: 40%;
  padding: 15px 0px;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
}

.serviceCardButton:hover {
  color: #fff;
  background-color: #ff9700;
}

@media screen and (max-width: 540px) {
  .serviceCardTitle {
    font-size: 1.5rem;
  }
  .serviceCardContent {
    font-size: 0.6rem;
  }
  .serviceCardButton {
    padding: 10px 0px;
  }
  .serviceCardContainer {
    height: 200px;
  }
}
