.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  padding: 1.5% 2.5%;
  background-color: white;
}

.mobileHeaderMenu {
  background-color: white;
  background-image: url("../../../assets/mobileBg.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.mobileHeaderMenuItem {
  color: black;
  border-bottom: 2px solid rgba(205, 208, 216, 0.5);
  width: 95%;
  text-align: center;
  font-family: roboto;
  font-size: 1rem;
  padding: 24px 0px 24px 0px;
}

.contentContainer {
  width: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.pagesContainer {
  gap: 20px;
  display: flex;
  justify-content: space-between;
}

.instantBookingBtn {
  background-color: #ff9700;
  font-family: poppins;
  font-size: 1rem;
  padding: 13px;
  border-radius: 4px;
}

.activePage {
  color: #ff9700 !important;
}

.pageLabel {
  font-family: poppins;
  font-size: 1rem;
  color: black;
}

.headerLocationIcon {
  /* position: absolute; */
  width: 20px;
  height: 20px;
  left: 53px;
  top: 24px;

  /* background: url(image.png); */
}

.headerCenterRow {
  display: flex;
  align-items: center;
}
