/* YourComponent.module.css */
.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.arcWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* object-fit:cover; */
  /* height: 100%; */
  /* width: 100%; */
}

.img {
  /* position: absolute; */
  width: 50% !important;
  height: 100% !important;
}
.textBox {
  position: absolute;
  /* background-color: #ffffff; */
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #000000;
  /* Add any other styling you need for the text boxes */
}

.box1 {
  top: 46%;
  left: 26.5%;
}

.box2 {
  top: 85%;
  left: 34.5%;
}

.box3 {
  top: 85%;
  left: 48.5%;
}

.box4 {
  top: 85%;
  left: 62.5%;
}

.box5 {
  top: 46%;
  left: 70.5%;
}

/* Add more styles for additional text boxes */

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
  .img {
    /* position: absolute; */
    width: 75% !important;
    height: 75% !important;
  }
  .box1 {
    top: 46%;
    left: 14.5%;
  }

  .box2 {
    top: 84%;
    left: 26.5%;
  }
  .box3 {
    top: 83%;
    left: 47%;
  }

  .box4 {
    top: 83%;
    left: 68%;
  }

  .box5 {
    top: 46%;
    left: 80.5%;
  }
  /* Adjust positions for other text boxes as needed */
}

@media (max-width: 420px) {
  .textBox {
    padding: 10px;
    border-radius: 5px;
    font-size: 10px;
  }
  .img {
    /* position: absolute; */
    width: 75% !important;
    height: 75% !important;
  }
  .box1 {
    top: 43%;
    left: 13.5%;
  }

  .box2 {
    top: 82%;
    left: 25.5%;
  }
  .box3 {
    top: 82%;
    left: 46%;
  }

  .box4 {
    top: 82%;
    left: 67%;
  }

  .box5 {
    top: 43%;
    left: 79.5%;
  }
}
