.sinceyear {
  color: #ff9700;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
}

.labelStyle {
  font-family: Poppins;
}

@media (max-width:590px){
  .sinceyear{
    font-size: 16px;
  }
}