.HS1Background{
    height: 672px;
    background: url("../../../../src/assets/HomeIcons/Home_background.svg");
    width: 100%;
}

.HS1HeaderImage{
    display: flex;
    width: 100%;
    justify-content: end;
}

.HSLogoContainer{
    height:383px;
    width:383px;
    animation: bounce;
}

.HS1ContentContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5% 0% 5%;
}

.HS1ContentLine{
    height: 0;
    border: 3px solid #FF9700;
    transform: rotate(90deg);
    width: 165px;
    border-radius: 10px;
}

.HS1Content{
    display: flex;
    align-items: center;
}

.HS1Text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 133.5%;
    color: #FFFFFF;
    margin-left: -8%;
}

.HS1SubText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    width: 622px;
    margin-left: 19%;
}

.HS1ContentButtonContainer{
    display: flex;
    justify-content: space-between;
    margin-left: 9%;
    width: 60%;
    margin-top: 26px;
}

.HS1FooterImage{
    height: 27.9%;
    display: flex;
    align-items: end;
}
/* Home section 2 css */

.HS2MainContainer{
    height: 700px;
    background: url("../../../../src/assets/HomeIcons/HS2_background.svg");
    width: 100%;
}

.HS2ContentContainer{
    padding: 0% 3% 0% 3%;
    height: 170px;
    display: flex;
    align-items: end;
}

.HS2Heading{
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FF9700;
}

.HS2SubHeadContainer{
    margin-top: 2%;
    height: 16%;
    padding: 0% 3% 0% 3%;
    display: flex;
    justify-content: space-between;

}

.HS2SubHeading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 128%;
    color: #2B2A35;
    width: 50%
}

.HS2Button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.HS2CardsContainer{
    padding: 3%;
    display: flex;
    justify-content: space-around;
}


.HS2Card{
    width: 227px;
    height: 331px;
    border: 1px solid #DADADA;
    border-radius: 5px;
    margin-right: 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .HS2CardSelected{
    background-color: #FF9700;
    color: #FFFFFF;
} */

.HS2CardUnSelected{
    background: #FFFFFF;
    color: #979797;
}

.HS2CardUnSelected:hover{
    background: #FF9700;
    color: #FFFFFF;
}

.HS2CardHeading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: center; 
    margin-top: 2%;
}

/* .HS2CardDetails2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 167.5%;
    text-align: center;
} */


.HS2CardUnSelected:hover .HS2SelectedImgWhite{
    filter: hue-rotate(40deg) saturate(1) brightness(200%) saturate(4); 
}

.HS2CardDetails{
    display: none;
}

.HS2CardUnSelected:hover .HS2CardDetails{
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 167.5%;
    text-align: center;
    background-color: #FF9700;
    width: 198px;
}

/* Home section 3 css */

.HS3MainContainer{
    height: 650px;
    background: #F9F9F9;
}

.HS3ContentContainer{
    display: flex;
    justify-content: space-between;
    padding: 4%;
}

.HS3ContentHeading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;    
    color: #FF9700;
    display: flex;
    align-items: center;
    height: 4%;   
}

.HS3ContentLine1{
    width: 19px;
    height: 0px;
    border: 1px solid #FF9700; 
     margin-left: 5px; 
}

.HS3ContentLine2{
    width: 28px;
    height: 0px;
    border: 1px solid #FF9700; 
     margin-left: 5px; 
}

.HS3ContentText{
    margin-top: 3%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 117.5%;
    color: #2B2A35;
    width: 95%;
}

.HS3ContentSubText{
    margin-top: 3%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167.5%;
    color: #494949;
    width: 95%;

}

.HS3ContactContainer{
    margin-top: 7%;
    display: flex;
    align-items: center;
}

.HS3ContactLine1{
    width: 89px;
    height: 0px;
    border: 1px solid #C4C4C4;
    transform: rotate(90deg);
    margin-left: -3%;
}
.HS3ContactLine2{
    width: 341px;
    height: 0px;
    border: 1px solid #C4C4C4;
    margin-top: 4%;
    margin-left: 6%;
}
.HSContactBook{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 167.5%;
    text-transform: uppercase;
    color: #494949;
}
.HS3ContactNum{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 167.5%;
    text-transform: uppercase;
    color: #FF9700;
}

/* Homesection 4 */
.HS4MainContainer{
    height: 900px;
    background-image: url("../../../../src/assets/HomeIcons/HS4Background.svg");
    width: 100%;
    background-repeat: no-repeat;
    padding: 0% 3% 0% 3%;
    background-color: white;
}

.HS4ContentHeadingContainer{
    display: flex;
    align-items: end;
    height: 100px;
}

.HS4Heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%; 
    font-family: 'Poppins';   
    color: #FF9700;
    display: flex;
    align-items: center;
    height: 4%;   
}

.HS4SubHeading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 128%;
    width: 649px;
    height: 125px;
    color: #2B2A35;
    margin-top: 21px;
}

.HS4ButtonContainer{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 9% 0% 11%;
}

.HS4UnselectButton{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 128%;
    color: #2B2A35;
    display: flex;
    flex-direction: column;
    height: 78px;
    text-align: center;
    justify-content: center;
}

.HS4SelectedButton{
    width: 319px;
    height: 78px;
    background: #FF9700;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;

}

.HS4ButtonUnderLine{
    width: 252px;
    height: 0px;
    border: 2px solid #D2D8D6;
    margin-top: 8px;
}

.HSCardContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 4% 0% 4%;
    margin-top: 4%;
}
.HS4ImageSize{
    height: 400px;
    width: 316px;
}

.HS4CardDataContainer{
    display: none;
}

.HS4CardEven:hover .HS4CardDataContainer{
    background-color:black;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* .HS4CardOdd:hover .HS4CardDataContainer{
    background-color:black;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */


.HS4CardContainer{
    background-size: "cover";
    background-repeat: "no-repeat";
    background-position: "center";
    display: flex;
    justify-content: center;
    align-items: center;
}

.HS4CardOdd{
    width: 317px;
    height: 403px;
}

.HS4CardEven{
    width: 398px;
    height: 396px;
}

.HS4ContentHeading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.HS4ContentSubHeading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 167.5%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding: 0% 4% 0% 4%;


}
.HS4ContentSubSubHeading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 167.5%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.HS4ArrowContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}
/* HomeSection 5*/

.HS5MainContainer{
    height: 100%;
    width: 100%;
    background: white;
    padding: 3%;
}

.HS5Carousel{
    height: 750px;
}

.HS5ContentContainer{
    display: flex;
    align-items: end;
}

.HS5Heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FF9700;
    display: flex;
    align-items: center;
    height: 4%;
}

.HS5SubHeading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 128%;
    color: #2B2A35;
    margin-top: 1.75%;
}

.HS5SingleCard{
    background: #FFFFFF;
    border: 1.73732px solid rgba(255, 151, 0, 0.44);
    border-radius: 27.7971px;
    width: 408px;
    display: flex;
    justify-content: center;
    height: 394px;
}

.HS5OddCard{
    background: rgba(255, 151, 0, 0.17);
    border: 1.73732px solid rgba(255, 151, 0, 0.44);
    border-radius: 27.7971px;
    width: 408px;
    display: flex;
    justify-content: center;
    height: 394px;
    justify-content: center;
}

.HS5EvenCard{
    background: #FFFFFF;
    border: 1.73732px solid rgba(255, 151, 0, 0.44);
    border-radius: 27.7971px;
    width: 408px;
    display: flex;
    justify-content: center;
    height: 394px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15%;
}

.HS5CardDiv{
    display: flex;
    margin-top: 7%;
}

.HS5Img
{
    width: 147px;
    height: 147px;
    border-radius: 50%;
    object-fit: cover;
}

.HS5ImgContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8%;
 
}


.HS5ContentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HS5ContentHeader{
    margin-top: 4%;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #2B2A35;
}
.HS5CardDetail{
    margin-top: 2.5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #646464;
    display: flex;
    text-align: center;
    width: 360px;
    height: 100px;

}

.HSStarConatiner{
    color: orange;
    height: 22px;
    width: 22px;
}
/* HomeSection 6 */
.HS6MainContainer{
    height: 914px;
    width: 100%;
    background: #F9F9F9;
    padding: 5% 0% 5% 0%;
}

.HS6Heading{
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 128%;
    color: #2B2A35;
}

.HS6ImageContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.HS6ImgSize{
    margin-top: 3%;
    margin-bottom: 4%;
}

/* HomeSection 7 */

.HS7MainContainer{
    height: 300px;
    width: 100%;
    background: #FFFFFF;
    padding:5%;
}

.HS7Heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 128%;
    color: #2B2A35;
    display: flex;
    justify-content: center;
}

.HS7ImagesContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5% 3% 0% 3% ;
}
/* HomeSection 8 */
.HS8MainContainer{
    height: 880px;;
    width: 100%;
    background: rgba(243, 243, 243, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;  
}

.HS8Heading{
    width: 406px;
    height: 150px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 128%;
    margin-top: 8%;
   color: #2B2A35;
}

.HS8FormLabel {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px !important;
    line-height: 24px;
    color: #4E4E4E;
    margin-bottom: 2%;
}

.HS8InputFieldContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.HS8InputContainer{
    display: flex;
    flex-direction: column;
}

.HS8InputField{
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    width: 531px;
}

.HS8ButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}

.HS8Button{
    background: #FF9700;
    box-shadow: 0px 4.12579px 10.3145px rgba(255, 151, 0, 0.12);
    border-radius: 5px;
    width: 181px;
    height:58px;
    font-family: poppins;
}

.HS8Button:hover{
    background: white !important;
    color: #FF9700;  
}


@media screen and (max-width: 590px) {

.HS1Img1Height{
    height: 60px;
    padding-left: 95px;
}

.HS1Img2Height{
    height: 66px;
    margin-left: -62px;
    margin-bottom: 91px;
}

.HSLogoContainer{
    height:250px;
    width:250px;
}

.HS1ContentContainer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0% 5% 0% 5%;
}

.HS1Text{
    font-size: 30px;
    /* margin-left: -6%; */
}

.HS1SubText{
    font-size: 12px;
    line-height: 150%;
    width: 250px;
    margin-left: 29%;  

}

.HS1ContentLine{
    width: 72px;  
    margin-left: 13%;  
}

.HS1ContentButtonContainer{
    width: 100%;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
}
/* home Section 2 */

.HS2ContentContainer{
    padding: 0% 3% 0% 3%;
    height: 100px;
    display: flex;
    align-items: end;
}

.HS2Heading{
    font-size: 14px;
}


.HS2SubHeading{
    font-size: 18px;
    width: 70%
}

.HS2Button{
    display: flex;
    justify-content: center;
    align-items: start;
}

.HS2CardMob{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0% 3% 0% 3%;
}
.HS2CardsContainer{
    overflow: auto;
}

/* Home Section 3 */

.HS3MainContainer{
    height: 100%;
    background: #F9F9F9;
}

.HS3ContentContainer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 4%;
}

.HS3ImgWidth{
    object-fit: scale-down;
    width: 400px;
}

.HS3ImgContainer{
    height: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 12%;
}

/* HomeSection 4 */
/* .HS4MainContainer{
    height: 100%;
}

.HS4ContentHeadingContainer{
    height: 80px;
}

.HS4SubHeading{
    font-size: 28px;
    width: 100%;
  
} */

.HS4ButtonContainer{
    /* height: 100px; */
    display: none;
    /* justify-content: space-between;
    align-items: center;
    margin: 0% 9% 0% 11%;
    width: 100%;
    overflow: auto; */
}

/* .HS4UnselectButton{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 128%;
    color: #2B2A35;
    display: flex;
    flex-direction: column;
    height: 78px;
    text-align: center;
    justify-content: center;
}

.HS4SelectedButton{
    width: 319px;
    height: 78px;
    background: #FF9700;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;

}

.HS4ButtonUnderLine{
    width: 252px;
    height: 0px;
    border: 2px solid #D2D8D6;
    margin-top: 8px;
} */


/* .HS4ImageSize{
    height: 400px;
    width: 316px;
} */
/* 
.HS4CardDataContainer{
    display: none;
}

.HS4CardEven:hover .HS4CardDataContainer{
    background-color:black;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.HS4CardOdd:hover .HS4CardDataContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.HS4CardContainer{
    background-size: "cover";
    background-repeat: "no-repeat";
    background-position: "center";
    display: flex;
    justify-content: center;
    align-items: center;
}

.HS4CardOdd{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.HS4CardEven{
    width: 150px;
    height: 150px;
}

.HS4ContentHeading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.HS4ContentSubHeading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 167.5%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
    padding: 0% 4% 0% 4%;


}
.HS4ContentSubSubHeading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 167.5%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.HS4ArrowContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
} */

/* Home section 5 */


.HS5SingleCard{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.HS5OddCard{
    width: 100%;
    height: 250px;
    border-radius: 10px;

}

.HS5EvenCard{
    width: 100%;
    height: 250px;
    border-radius: 10px;

}


.HS5Img
{
    width: 50px;
    height: 50px;

}

.HSStarConatiner{
    color: orange;
    height: 11px;
    width: 11px;

}

.HS5Carousel{
    height: 500px;
}


.HS5ContentHeader{
  
    font-size: 10px;
  
}
.HS5CardDetail{
    margin-top: 2.5%;
    font-size: 6px;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    height: 100%;

}

/* HomeSection 6 */

.HS6MainContainer{
    height: 100%;
}

.HS6ImgSize{
    width: 100%;
    height: 100%;
}

/* home Section 7 */

.HS7Image{
    margin-right: 25px;
}
.HS7ImagesContainer{
    overflow: auto;  
}

.HS7Heading{
    text-align: center;
    margin-bottom: 10%;
  
}
/* HomeSection 8 */

.HS8InputFieldContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
    flex-direction: column;
}

.HS8Heading{
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
}

.HS8FormLabel {
    font-size: 14px !important;
}

.HS8InputField{
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;
}


}


@media screen and (min-width: 591px) and (max-width: 820px) {

.HS1Background{
    height: 585px;
}
.HSLogoContainer{
    height:320px;
    width:320px;
}
.HS1Text{
    font-size: 40px;
    margin-left: -5%;
}

.HS1SubText{
    font-size: 12px;
    line-height: 150%;
    width: 250px;
    margin-left: 23%;
}

.HS1ContentLine{
    width: 100px;  
}

.HS1ContentButtonContainer{
    width: 100%;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -11%;
}

/* home Section 2 */

.HS2ContentContainer{
    padding: 0% 3% 0% 3%;
    height: 100px;
    display: flex;
    align-items: end;
}


.HS2SubHeading{
    width: 70%
}

.HS2CardMob{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0% 3% 0% 3%;
}

.HS2CardsContainer{
    overflow: auto;
}

/* Home section 3 css */

.HS3ContentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
}
.HS3TabContainer{
    width: 40%;
    padding: 4% 3% 2% 2%;
}
.HS3ContentText{
    margin-top: 6%;
    font-size: 28px;
}

.HS3ContentSubText{
    margin-top: 6%;
    font-size: 14px;
    text-align: justify;
}

.HS3ContactLine1{
    width: 75px;
    margin-left: -5%;
}

.HS3ContactLine2{
    width: 280px;
    margin-top: 9%;
    margin-left: 6%;
}
.HSContactBook{
    font-size: 16px;
}
.HS3ContactNum{
    font-size: 16px;
}

.HS3ImgWidth{
    width: 450px;
}

.HS3ImgContainer{
    height: 550px;
    width: 60%;
    display: flex;
    align-items: center;
}
  

/* HomeSection 6 */

.HS6MainContainer{
    height: 100%;
}

.HS6ImgSize{
    width: 100%;
    height: 100%;
}

/* home Section 7 */



.HS7Image{
    margin-right: 9px;
}
/* HomeSection 8 */

.HS8MainContainer{
    height: 100%; 
}

.HS8InputFieldContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
    flex-direction: column;
}


.HS8InputField{
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;
}


}

@media screen and (min-width: 821px) and (max-width: 900px) {

.HS1Background{
    height: 585px;
}

.HSLogoContainer{
    height:320px;
    width:320px;
}
.HS1Text{
    font-size: 40px;
    margin-left: -5%;
}

.HS1SubText{
    font-size: 20px;
    line-height: 150%;
    width: 400px;
    margin-left: 18%;
}

.HS1ContentLine{
    width: 90px;  
}

.HS1ContentButtonContainer{
    width: 93%;
    margin-top: 26px;
    display: flex;
    align-items: center;
}

/* home Section 2 */
.HS2ContentContainer{
    height: 100px;
}


.HS2SubHeading{
    width: 60%
}

.HS2CardMob{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0% 3% 0% 3%;
}

.HS2CardsContainer{
    overflow: auto;
}

/* Home section 3 css */

.HS3ContentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
}
.HS3TabContainer{
    width: 40%;
    padding: 4% 3% 2% 2%;
}
.HS3ContentText{
    margin-top: 6%;
    font-size: 28px;
}

.HS3ContentSubText{
    margin-top: 6%;
    font-size: 14px;
    text-align: justify;
}

.HS3ContactLine1{
    width: 75px;
    margin-left: -5%;
}

.HS3ContactLine2{
    width: 280px;
    margin-top: 9%;
    margin-left: 6%;
}
.HSContactBook{
    font-size: 16px;
}
.HS3ContactNum{
    font-size: 16px;
}

.HS3ImgWidth{
    width: 450px;
}

.HS3ImgContainer{
    height: 550px;
    width: 60%;
    display: flex;
    align-items: center;
}
   

/* HomeSection 6 */

.HS6MainContainer{
    height: 100%;
}

.HS6ImgSize{
    width: 100%;
    height: 100%;
}

/* HomeSection 8 */

.HS8MainContainer{
    height: 100%; 
}

.HS8InputFieldContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
    flex-direction: column;
}

.HS8InputField{
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;
}

}


@media screen and (min-width: 901px) and (max-width: 1140px) {

.HS1ContentContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    }

.HS1SubText{
    width: 500px;
    margin-left: 12%;
}

.HS1ContentButtonContainer{
    width: 65%;
    margin-top: 26px;
    display: flex;
    align-items: center;
}

.HSLogoContainer{
  padding: 0% 2% 0% 0%;
}
      

/* home Section 2 */
.HS2CardMob{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0% 1.5% 0% 1.5%;
}


.HS2CardsContainer{
    overflow: auto;
}
/* Home section 3 css */

.HS3ContentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
}
.HS3TabContainer{
    width: 40%;
    padding: 4% 3% 2% 2%;
}
.HS3ContentText{
    margin-top: 6%;
    font-size: 30px;
}

.HS3ContentSubText{
    margin-top: 6%;
    font-size: 15px;
    text-align: justify;
}

.HS3ContactLine1{
    width: 75px;
    margin-left: -5%;
}

.HS3ContactLine2{
    width: 280px;
    margin-top: 9%;
    margin-left: 6%;
}
.HSContactBook{
    font-size: 16px;
}
.HS3ContactNum{
    font-size: 16px;
}

.HS3ImgWidth{
    width: 600px;
}

.HS3ImgContainer{
    height: 550px;
    width: 60%;
    display: flex;
    align-items: center;
}
   
/* HomeSection 6 */

.HS6MainContainer{
    height: 100%;
}

.HS6ImgSize{
    width: 100%;
    height: 100%;
} 

/* Home section 8 */

.HS8InputField{
    border: 1px solid #BCBCBC;
    border-radius: 4px;
   width: 400px;
}
}


