.HS1Background{
    height: 672px;
    background: url("../../../../src/assets/HomeIcons/Home_background.svg");
    width: 100%;
}

.HS1HeaderImage{
    display: flex;
    width: 100%;
    justify-content: end;
}

.HSLogoContainer{
    height:383px;
    width:383px;
}

.HS1ContentContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 5% 0% 5%;
}

.HS1ContentLine{
    height: 0;
    border: 3px solid #FF9700;
    transform: rotate(90deg);
    width: 165px;
    border-radius: 10px;
}

.HS1Content{
    display: flex;
    align-items: center;
}

.HS1Text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 133.5%;
    color: #FFFFFF;
    margin-left: -7%;
}

.HS1SubText{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
    width: 622px;
    margin-left: 9%;
}

.HS1ContentButtonContainer{
    display: flex;
    justify-content: space-between;
    margin-left: 9%;
    width: 50%;
    margin-top: 26px;
}

.HS1FooterImage{
    height: 28.6%;
    display: flex;
    align-items: end;
}
/* Home section 2 css */
.HS2MainContainer{
    height: 672px;
    background-color: #FFFFFF;
}

.HS2LogoContainer{
    display: flex;
    justify-content: end;
}

/* Home section 3 css */

.HS3MainContainer{
    height: 650px;
    background: #F9F9F9;
}

.HS3ContentContainer{
    display: flex;
    justify-content: space-between;
    padding: 4%;
}
.HS3ContentHeading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;    
    color: #FF9700;
    display: flex;
    align-items: center;
    height: 4%;

    
}
.HS3ContentLine1{
    width: 19px;
    height: 0px;
    border: 1px solid #FF9700; 
     margin-left: 5px; 
}

.HS3ContentLine2{
    width: 28px;
    height: 0px;
    border: 1px solid #FF9700; 
     margin-left: 5px; 
}

.HS3ContentText{
    margin-top: 3%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 117.5%;
    color: #2B2A35;
    width: 95%;
}

.HS3ContentSubText{
    margin-top: 3%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 167.5%;
    color: #494949;
    width: 95%;

}

.HS3ContactContainer{
    margin-top: 7%;
    display: flex;
    align-items: center;
}

.HS3ContactLine1{
    width: 89px;
    height: 0px;
    border: 1px solid #C4C4C4;
    transform: rotate(90deg);
    margin-left: -3%;
}
.HS3ContactLine2{
    width: 341px;
    height: 0px;
    border: 1px solid #C4C4C4;
    margin-top: 4%;
    margin-left: 6%;
}
.HSContactBook{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 167.5%;
    text-transform: uppercase;
    color: #494949;
}
.HS3ContactNum{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 167.5%;
    text-transform: uppercase;
    color: #FF9700;
}

@media screen and (max-width: 590px) {

.HS1Img1Height{
    height: 60px;
    padding-left: 95px;
}

.HS1Img2Height{
    height: 66px;
    margin-left: -62px;
    margin-bottom: 91px;
}

.HSLogoContainer{
    height:250px;
    width:250px;
}

.HS1ContentContainer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0% 5% 0% 5%;
}

.HS1Text{
    font-size: 30px;
    margin-left: -6%;
}

.HS1SubText{
    font-size: 12px;
    line-height: 150%;
    width: 250px;
    margin-left: 23%;  

}

.HS1ContentLine{
    width: 72px;  
    margin-left: 13%;  
}

.HS1ContentButtonContainer{
    width: 100%;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
}

/* Home Section 3 */

.HS3MainContainer{
    height: 100%;
    background: #F9F9F9;
}

.HS3ContentContainer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 4%;
}

.HS3ImgWidth{
    object-fit: scale-down;
    width: 400px;
}

.HS3ImgContainer{
    height: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 12%;
}

}


@media screen and (min-width: 591px) and (max-width: 820px) {

.HS1Background{
    height: 585px;
}
.HSLogoContainer{
    height:320px;
    width:320px;
}
.HS1Text{
    font-size: 40px;
    margin-left: -5%;
}

.HS1SubText{
    font-size: 12px;
    line-height: 150%;
    width: 250px;
    margin-left: 14%;
}

.HS1ContentLine{
    width: 100px;  
}

.HS1ContentButtonContainer{
    width: 100%;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -11%;
}

/* Home section 3 css */

.HS3ContentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
}
.HS3TabContainer{
    width: 40%;
    padding: 4% 3% 2% 2%;
}
.HS3ContentText{
    margin-top: 6%;
    font-size: 28px;
}

.HS3ContentSubText{
    margin-top: 6%;
    font-size: 14px;
    text-align: justify;
}

.HS3ContactLine1{
    width: 75px;
    margin-left: -5%;
}

.HS3ContactLine2{
    width: 280px;
    margin-top: 9%;
    margin-left: 6%;
}
.HSContactBook{
    font-size: 16px;
}
.HS3ContactNum{
    font-size: 16px;
}

.HS3ImgWidth{
    width: 450px;
}

.HS3ImgContainer{
    height: 550px;
    width: 60%;
    display: flex;
    align-items: center;
}
  
}

@media screen and (min-width: 821px) and (max-width: 900px) {
  
    .HS1Background{
        height: 585px;
    }

    .HSLogoContainer{
        height:320px;
        width:320px;
    }
    .HS1Text{
        font-size: 40px;
        margin-left: -5%;
    }
    
    .HS1SubText{
        font-size: 20px;
        line-height: 150%;
        width: 400px;
        margin-left: 12%;
    }
    
    .HS1ContentLine{
        width: 90px;  
    }
    
    .HS1ContentButtonContainer{
        width: 80%;
        margin-top: 26px;
        display: flex;
        align-items: center;
    }
    
    /* Home section 3 css */
    
    .HS3ContentContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0%;
    }
    .HS3TabContainer{
        width: 40%;
        padding: 4% 3% 2% 2%;
    }
    .HS3ContentText{
        margin-top: 6%;
        font-size: 28px;
    }
    
    .HS3ContentSubText{
        margin-top: 6%;
        font-size: 14px;
        text-align: justify;
    }
    
    .HS3ContactLine1{
        width: 75px;
        margin-left: -5%;
    }
    
    .HS3ContactLine2{
        width: 280px;
        margin-top: 9%;
        margin-left: 6%;
    }
    .HSContactBook{
        font-size: 16px;
    }
    .HS3ContactNum{
        font-size: 16px;
    }
    
    .HS3ImgWidth{
        width: 450px;
    }
    
    .HS3ImgContainer{
        height: 550px;
        width: 60%;
        display: flex;
        align-items: center;
    }
      
    }


@media screen and (min-width: 901px) and (max-width: 1140px) {

.HS1ContentContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    }

.HS1SubText{
    width: 500px;
    margin-left: 12%;
}

.HS1ContentButtonContainer{
    width: 65%;
    margin-top: 26px;
    display: flex;
    align-items: center;
}

.HSLogoContainer{
  padding: 0% 2% 0% 0%;
}
            
        /* Home section 3 css */
        
        .HS3ContentContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0%;
        }
        .HS3TabContainer{
            width: 40%;
            padding: 4% 3% 2% 2%;
        }
        .HS3ContentText{
            margin-top: 6%;
            font-size: 30px;
        }
        
        .HS3ContentSubText{
            margin-top: 6%;
            font-size: 15px;
            text-align: justify;
        }
        
        .HS3ContactLine1{
            width: 75px;
            margin-left: -5%;
        }
        
        .HS3ContactLine2{
            width: 280px;
            margin-top: 9%;
            margin-left: 6%;
        }
        .HSContactBook{
            font-size: 16px;
        }
        .HS3ContactNum{
            font-size: 16px;
        }
        
        .HS3ImgWidth{
            width: 600px;
        }
        
        .HS3ImgContainer{
            height: 550px;
            width: 60%;
            display: flex;
            align-items: center;
        }
          
        }
    

