.heading {
  color: #2b2a35;
  display: flex;
  justify-content: center;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 117.5%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}

.cardTitle {
  color: #2b2a35;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  text-align: center;
  /* line-height: 0%; 0px */
}

.cardImageContainer {
  width: 100%;
  height: 92px;
  margin-bottom: 40px;
  flex-shrink: 0;
  position: relative;
  display: flex;
}
.cardImage {
}

.cardBgImgContainer {
  position: absolute;
  min-width: 85px;
  height: 99px;
  flex-shrink: 0;
  right: 0;
  top: 0;
}

.cardDesc {
  color: var(--Body, #494949);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.5%; /* 33.5px */
  padding-top: 25px;
  padding-bottom: 25px;
  margin-inline: 10px;
}

.cardContainer {
  /* padding-inline: 20px; */
  /* border: 1px solid green; */
  flex-shrink: 0;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  position: relative;
  padding-top: 40px;
  min-height: 100%;
}

.root {
  background-color: #ececec;
  padding-inline: 3.125rem;
  padding-bottom: 2rem;
  /* background:  url("../../../../public/assets/HomeIcons/HS4Background.svg"), lightgray 0px -482.301px / 100% 152.647% no-repeat; */
  /* background-image: url("../../../../public/assets/HomeIcons/HS4Background.svg");
    width: 100%;
    height: 600px;
    background-repeat: repeat-y; */
  /* padding: 0% 3% 3% 3%; */
  /* border: 1px solid transparent; */
}

@media only screen and (max-width: 768px) {
  .heading {
    color: #2b2a35;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 117.5%; /* 23.5px */
  }

  .cardContainer{
    padding-bottom: 1.25rem;
  }
  .root{
    padding-inline: 1.25rem;
  }
  .cardBgImgContainer {
    position: absolute;
    min-width: 60px;
    height: 70px;
    flex-shrink: 0;
    right: 0;
    top: 0;
  }
  .cardImageContainer {
    height: 72.861px;
    margin-bottom: 1.5rem;
    flex-shrink: 0;
  }
  .cardTitle {
    background-color: red;
    color: #2b2a35;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 0%; /* 0px */
  }
  .cardDesc {
    color: #494949;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
  }
  .heading{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
