.iBBContainer {
  background-color: #ff9700;
  background-image: url("../../../assets/mobileBg.svg");
  height: 450px;
  display: flex;
  justify-content: center;
}

.iBBContentContainer {
  width: 60%;
  font-family: poppins;
  font-weight: 700;
  font-size: 3.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 800px){
    .iBBContentContainer{
        font-size: 2.5rem;
    }
}

