.root {
  color: #0b0c0f;
}

.fontHeading {
  /* font-family: "NeueMachina"; */
  font-family: Poppins;
}

.heading {
  /* margin-top: 6.875rem; */
  display: flex;
  justify-content: center;

  text-align: center;

  color: #2b2a35;
  font-family: Poppins;
  font-size: 36px !important;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 117.5%; /* 42.3px */
}

.heading {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  /* font-weight: 400; */
  color: #0b0c0f;
  /* color: var(--color-black); */
}

.heading2 {
  position: relative;
  left: -3px;
  margin-bottom: 52px;
  font-size: max(36px, min(8vw, 96px));
  text-transform: uppercase;
  line-height: 1;
}

.faqTitle {
  font-size: 21px;
}
.faqDesc{
font-size: 15px;
}
@media only screen and (max-width: 768px) {
  .heading {
    font-size: 20px !important;
  }
  .faqTitle {
    font-size: 1.125rem
  }
  .faqDesc{
    font-size: 12px;
  }
}
