/* CSS HOME SECTION 1 BEGINS HERE */
.HS1Container {
  height: 85vh;
  display: flex;
  background-color: black;
}

@media screen and (max-width: 900px) {
  .HS1Container {
    flex-direction: column;
    justify-content: space-evenly !important;
  }
  .HS1ContainerLeftSide {
    width: 100% !important;
  }
  .HS1ContainerRightSide {
    width: 100% !important;
    justify-content: center;
  }
  .HS1Image {
    width: 70% !important;
  }
}

@media screen and (max-width: 600px) {
  .HS1Tag2 {
    font-size: 2.5rem !important;
    text-align: left !important;
  }
  .HS1ContainerLeftSide {
    align-items: flex-start !important;
    padding-left: 5% !important;
  }
}

.HS1ContainerLeftSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.HS1ContainerRightSide {
  width: 50%;
  display: flex;
  align-items: center;
}

.HS1Image {
  width: 100%;
  height: max-content;
}

.HS1Tag1 {
  font-family: poppins;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

.HS1Tag2 {
  font-family: poppins;
  text-align: center;
  font-size: 4rem;
  color: white;
}

/* CSS HOME SECTION 1 ENDS HERE */
/* CSS HOME SECTION 2 BEGINS HERE */

.HS2Container {
  height: 100vh;
  display: flex;
  background-color: #101010;
}

.HS2ContainerLeftSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.HS2ContainerRightSide {
  width: 50%;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.HS2LeftTag1 {
  color: #ff9700;
  font-family: poppins;
  font-weight: 1rem;
  width: 100%;
}

.HS2LeftTag2 {
  color: white;
  font-family: poppins;
  font-size: 3.8rem;
}

.HS2StrategyContainer {
  height: 83%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  border: 1px solid #ff9700;
  padding: 0px 25px 0px 30px;
  border-radius: 5px 0px 0px 5px;
  border-right: none;
}

.HS2RightTag1Container {
  display: flex;
  align-items: center;
  color: #ff9700;
  font-family: poppins;
  font-size: 1rem;
}

.HS2RightStrategyContent {
  font-family: poppins;
  font-size: 1rem;
  color: white;
  width: 80%;
}

.HS2RightPoints {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.HS2RightContentItem {
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: poppins;
  font-size: 1rem;
}

.HS2ButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.HS2DiamondBullet {
  position: absolute;
  left: 50%;
  width: 40;
}

@media screen and (max-width: 900px) {
  .HS2Container {
    flex-direction: column;
  }
  .HS2LeftTag2 {
    font-size: 2rem;
  }
  .HS2ContainerLeftSide {
    width: 100%;
    height: 40vh;
  }

  .HS2ContainerRightSide {
    width: 100%;
    height: 58vh;
  }

  .HS2StrategyContainer {
    height: 100%;
    padding: 20px;
  }

  .HS2DiamondBullet {
    left: 0.7%;
    width: 30px;
  }
}

@media screen and (max-width: 515px) {
  .HS2RightStrategyContent {
    font-size: 0.8rem;
  }
  .HS2RightContentItem {
    font-size: 0.8rem;
  }

  .HS2DiamondBullet {
    left: 1.3%;
  }
}

/* CSS HOME SECTION 2 ENDS HERE */
/* CSS HOME SECTION 3 BEGINS HERE */

.HS3Container {
  background-color: #ff9700;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.HS3Tag1 {
  font-family: poppins;
  font-size: 1rem;
  font-weight: 400;
}

.HS3TopContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18vh;
}

.HS3Tag2 {
  font-family: poppins;
  font-size: 2.8rem;
  width: 50%;
  /* line-height: 50px; */
}

@media screen and (max-width: 1024px) {
  .HS3Tag2 {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .HS3Tag2 {
    width: 100% !important;
  }

  .hidden {
    display: none !important;
  }
}

@media screen and (max-width: 530px) {
  .HS3Tag2 {
    font-size: 2.3rem;
  }
}


@media screen and (max-width: 355px) {
  .HS3Tag2 {
    font-size: 2rem;
  }
}

.HS3Carousel {
  background-color: white;
  height: 95%;
}

.HS3CarouselContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.HS3ProjectDetailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.HS3ProjectName {
  font-family: poppins;
  color: #ff9700;
  font-size: 1.5rem;
}

.HS3ProjectType {
  font-family: poppins;
  letter-spacing: 5px;
  color: black;
  font-size: 1.2rem;
}

.HS3imgStyle {
  height: 54vh;
}

@media screen and (max-width: 800px) {
  .HS3imgStyle {
    height: 45vh;
  }
}

@media screen and (min-width: 801px) {
  .hidden_ {
    display: none !important;
  }
}
