.root {
  background-color: #ff9700;
  font-family: poppins;
}

.ctaBlack {
  /* background: var(--color-black); */
}


.section {
  display: block;
  width: 100%;
  padding: 52px 0;
}

.section {
  display: block;
}

.wrapper {
  display: block;
  width: 100%;
  max-width: 1512px;
  margin: auto;
  padding: 0 24px;
  box-sizing: border-box;
}

.ctaBlack .cta__heading,
.ctaBlack .cta__caption {
  color: #fff;
  /* color: var(--color-white); */
}
.cta__heading {
  margin-bottom: 16px;
}

.heading2 {
  position: relative;
  left: -3px;
  margin-bottom: 52px;
  text-transform: uppercase;
  line-height: 1;
}
.heading {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: 400;
  font-size: 36px;
  color: #0b0c0f;
  /* color: var(--color-black); */
}

.ctaBlack .cta__heading,
.ctaBlack .cta__caption {
  color: #fff;
  /* color: var(--color-white); */
}
.cta__caption {
  margin-bottom: 32px !important;
}

.caption {
  /* max-width: 928px; */
  margin: 0;
  color: #353945;
  /* color: var(--color-black-60); */
  font-size: 25px;
  line-height: 1.5;
}

.cta__button {
    position: relative;
    z-index: 1;
}
.buttonPurple {
    color: #0b0c0f;
    background-color: white;
    border: 1px solid #353945;

}
.buttonPurple:hover {
    color: #ff9700;
}
.button {
    position: relative;
    -webkit-appearance: none;
    z-index: 1;
    display: inline-flex;
    width: auto;
    height: auto;
    margin: 0;
    padding: 16px;
    box-sizing: border-box;
    font-family: PPTelegraf,sans-serif;
    font-size: 15px;
    font-weight: 500;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .2s ease-out;
    overflow: hidden;
}

@media (min-width: 1280px) {
  .section {
    /* padding: 96px 0; */
  }
  .heading2 {
    /* margin-bottom: 96px; */
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 0 40px;
  }
  .heading2 {
    left: -6px;
    font-size: max(36px, min(6vw, 50px));
  }
}
