.chip {
  padding: 20px !important;
  border-radius: 20px !important;
  font-size: 20px !important;
  font-family: poppins !important;
}

@media only screen and (max-width: 768px) {
  .root {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .chip{
    margin: 20px !important;
    font-size: 14px !important;
  }
}
