.pageBannerRoot {
  background: linear-gradient(90deg, #f18f01 0%, rgba(255, 168, 0, 0.91) 100%);
  /* background-image: url("../../../assets/mobileBg.svg"); */
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  min-height: 275px;
}

.pageBannerTextContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 50px;
}

.pageBannerImageContainer {
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.breadcrumsSeparator{
  color: white;
}
/* .iBBContentContainer {
  width: 50%;
  font-family: poppins;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
} */

@media (max-width: 800px) {
  .iBBContentContainer {
    font-size: 2.5rem;
  }
  .pageBannerTextContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.pageBannerTitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 133.5%;
  text-transform: capitalize;
  color: #2b2a35;
}

.pageBannerHeading {
  max-width: 950px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 128%;
  text-transform: capitalize;
  color: #ffffff;
}

.breadcrumsTextRoot {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  color: #fff;
}

.breadcrumsText {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  color: #fff;
}

.pageBannerDesc {
  max-width: 850px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
}
@media (max-width: 600px) {
  .pageBannerTextContainer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 420px) {
  .pageBannerHeading {
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 128%; /* 30.72px */
    text-transform: capitalize;
    text-align: center;
  }
  .pageBannerDesc {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
    margin-inline: 0.5rem;
  }
  .breadcrumsTextRoot {
    color: #fff;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 15px */
  }
  .breadcrumsText {
    color: #fff;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 15px */
  }
  .pageBannerRoot{
    min-height: 0px;
    padding-top: 1rem;
  }
}
