.footer_area {
  border-top: 1px solid #f8fbff;
  position: absolute;
  right: 0;
  left: 0;
  overflow: hidden;
  background-color: #f0f0f0;
}

.copyright_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 0;
  position: relative;
  z-index: 1;
}

.footer_top_area {
  padding-top: 5rem;
}

.footer_bottom_area {
  background-color: #f8fbff;
  color: #646464;
  font-size: 15px;
  text-align: center;
}

.widget {
  margin: 0 0 1.5em;
}

.widget_nav_menu {
  margin-bottom: 0;
  text-align: right;
}
.widget_media_image {
  text-align: center !important;
}
.widget_media_image .logo {
  max-width: 250px !important;
  height: 100px;
}

.footer_top_area .widget {
  margin-bottom: 1.875rem;
  width: 100%;
  position: relative;
  z-index: 1;
  text-align: inherit;
}

.widget .menu,
.corporate_address,
.footer_social {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu {
  list-style: disc inside none;
  margin: 0 0 20px;
}

.footer_bottom_area .menu_item {
  display: inline-block;
  margin-right: 2rem;
  position: relative;
}

.footer_bottom_area .menu_item_link {
  font-size: 1.5rem;
  transition: all 0.3s ease-out;
  color: #646464;
  text-decoration: none;
}

.footer_bottom_area .menu_item_link:hover {
  color: var(--primary-color);
}

.widget_social_links .links {
  display: flex;
  justify-content: center;
}

.widget_social_links .links a {
  margin: 1rem;
}

.widget_social_links .links img {
  width: 3.2rem;
  height: 3.2rem;
}

.footer_icon {
  color: var(--primary-color);
  font-size: 1.5rem;
  padding: 0 15px 0 0;
  height: 4rem;
  width: 4rem;
}

.widget_title {
  color: #1d2124;
  position: relative;
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer_top_area .row > div {
  text-align: center;
}

.footer_top_area .menu_item {
  margin-bottom: 8px;
  padding-bottom: 8px;
  padding-left: 1px;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.footer_top_area .menu_item:hover {
  color: var(--primary-color);
}

.corporate_address > li:first-child > h4 {
  padding-top: 0;
}

@media (max-width: 996px) {
  .footer-area {
    text-align: center;
  }
  .copyright_wrap {
    display: inherit;
  }
  .footer_top_area .widget {
    text-align: center;
  }
  .widget_digeco_address {
    text-align: center;
  }
}
