.site_header {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  /* background-image: var(--linear-gradient); */
  background-color: white;
  padding: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0px 0px 25px 25px;
  animation: anim 1s ease;
}
@keyframes anim {
  0% {
    top: -80px;
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.header_area {
  background: 0 0;
}

.header_fixed {
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  z-index: 1000;
  position: relative;
  transition: all 0.5s ease-out;
}

.sticky_menu {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1000;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease 0s;
}

.mobile_nav_list {
  width: 100%;
  background: #fff;
  margin-top: 5px;

  position: fixed;
  top: 7.5rem;
  left: 0;
  right: 0;
}

.mobile_nav_list .mobile_menu {
  width: 100% !important;
  transition: all 0.3s ease 0s;
}

.mobile_nav_list .mobile_menu .mobile_mega_menu {
  border-top: 1px dashed #ddd;
  position: relative;
  width: 100%;
}

.mobile_nav_list .mobile_menu .mobile_mega_menu a {
  font-weight: 500;
  line-height: 2.2rem;
  color: #000;
  text-transform: inherit;
  font-style: normal;
  padding: 1rem 1.5rem;
  margin-left: 1.5rem;
  text-align: left;
  text-decoration: none;
  display: block;
}
