.card_items {
  border: 1px solid #d9d9d9;
  padding: 55px 40px 50px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  height: 40rem;
  transition: 1s all ease;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-inline: 20px;
  z-index: 10000;
}
.card_items_content > p {
  opacity: 0;
  margin-top: 150px;
  transition: 0.5s all ease-in-out;
  color: white;
}

.carouselBtn > a {
  width: 35px;
  height: 35px;
  margin: auto 0;
  background-color: #ff9700;
  border-radius: 50%;
  margin-inline: -50px;
}
.carouselBars > li {
  height: 12px;
  width: 12px;
  background-color: #ff9700;
  margin-bottom: -50px;
  border-radius: 50%;
}

.card_items:hover .serviceDisc {
  opacity: 1;
  margin-top: 0px;
}
.card_items::before {
  background-image: var(--linear-gradient);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: 0.8s all ease;
  height: 87%;
  width: 0;
}

.card_items:hover::before {
  width: 82%;
}
.card_items_icon {
  transform: translateY(70%);
  transition: 0.5s all ease-in-out;
}

.card_items_icon > img {
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

.card_items:hover .card_items_icon {
  transform: translateY(0);
}

.card_items_icon img {
  width: 5.6rem;
  height: 5.6rem;
}

.card_items_icon i {
  font-size: 3.5rem;
  color: #1d2124;
  line-height: 1;
  display: inline-block;
}
