.title {
  color: #2b2a35;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 0%; /* 0px */

}

.mapRoot{
    display: flex;
    justify-content: center;
    width: 100%;
}

.oneIconContainer {
    margin-bottom: 2.25rem;
}
.fileIconContainer {
    margin-top: 4.7rem;
    /* width: 112px;
    height: 112px; */
}
.li {
  color: #494949;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.5%; /* 33.5px */
  padding-top: 1.5625rem;
  padding-bottom: 2.75rem;
}

.hr {
  background: rgba(248, 151, 28, 0.53);
  width: 1px;
  height: 100%;
}
.hrBold{
  border-radius: 16px;
  background: #FF9700;
  width: 6px;
  height: 100%;
}
.leftGrid {
  text-align: end;
}

.rightGrid {
  text-align: start;
}

.middleGrid {
  text-align: center;
  display: flex;
  justify-content: center;
}
